.social{
  display: flex;
  column-gap: 10rem;
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 60rem;
    border: 1px solid #FFF;
    border-radius: 50%;

    & img{
      width: 35rem;
      height: 35rem;
    }
  }
}